@page "/counter"
@using BlazorState
@using BlazorStateManagement.Features.Counter
@using BlazorStateManagement.Features.Counter.Actions

@inherits BlazorStateComponent

<h2>Counter</h2>

<p>Current count is: @currentCount</p>

<button class="btn btn-primary" onclick="IncrementCount">Increment</button>

@code
{
    CounterState state => GetState<CounterState>();

    int currentCount => state.Count;

    void IncrementCount()
    {
        Mediator.Send(new IncrementCountAction { Amount = 5 });
    }
}